@media all and (max-width: 600px)
  #contactpage
    background: url('./resources/contact-bg.svg')
    background-repeat: no-repeat
    background-size: cover

  #contact-owner, #contact-others, #contact-email, #contact-office, #contact-address
    width: 90%
    margin-bottom: 4vh

  .contact-sub-wrap
    flex-direction: column
    align-items: center