#contactpage
  position: absolute
  top: 0
  left: 0
  z-index: 1
  height: 100vh
  width: 100vw
  background: url('./resources/contact-bg.svg')
  background-repeat: no-repeat
  background-size: cover
  opacity: 0
  transition: opacity 0.2s linear
  display: none

#contact-title
  text-align: center
  font-family: 'Source Sans Pro', sans-serif
  font-size: 5.5vh
  font-weight: 600
  padding: 2vh 0

#contact-container
  overflow-y: scroll
  overflow-x: hidden
  height: 88vh
  width: 100vw
  padding-top: 2vh

#contact-wrapper
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center

.contact
  background: #ffffff
  border-radius: 10px
  box-shadow: 0 0 10px #aaaaaa
  border: solid 1px
  opacity: 0
  transition: opacity 0.3s linear

#contact-owner
  height: 25vh
  width: 45%
  margin-bottom: 4vh
  display: flex
  justify-content: space-between

#contact-owner-tag
  font-family: 'Roboto', sans-serif
  font-size: 4.5vh
  margin: 3vh 0 0 3vh
  color: #e9290f

#contact-owner-content
  text-align: right
  font-family: 'AvenirLight'
  font-size: 2.2vw
  margin: 5vh 8vh 0 0

  img
    width: 3.5vh

  span:first-child
    font-size: 2.4vw

.contact-sub-wrap
  width: 100vw
  display: flex
  justify-content: space-around
  margin-bottom: 4vh

#contact-others
  height: 18vh
  width: 35%
  display: flex
  justify-content: space-around

  div
    font-family: 'AvenirLight'
    font-size: 2vw
    margin: 5vh 0 0 0

    img
      width: 3.5vh

#contact-office
  height: 18vh
  width: 20%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around

#contact-office-tag
  font-family: 'Roboto', sans-serif
  font-size: 3.5vh
  color: #e9290f
  text-align: center

#contact-office-content
  font-family: 'AvenirLight'
  font-size: 2vw

  img
    width: 2.5vh  

#contact-email
  height: 18vh
  width: 35%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around

#contact-email-tag
  font-family: 'Roboto', sans-serif
  font-size: 3.5vh
  color: #e9290f
  text-align: center

#contact-email-content
  font-family: 'AvenirLight'
  font-size: 2vw

  img
    width: 3.5vh

#contact-address
  height: 33vh
  width: 57%
  display: flex
  justify-content: space-between

#contact-address-tag
  font-family: 'Roboto', sans-serif
  font-size: 4vh
  margin: 2.5vh 0 0 2.5vh
  color: #e9290f

#contact-address-content
  text-align: right
  margin: 4vh 2.5vh 0 0
  font-size: 2.4vw
  font-family: 'AvenirLight'


@media all and (max-width: 1000px)
  
  #contact-owner, #contact-others, #contact-email, #contact-office, #contact-address
    width: 90%
    margin-bottom: 3vh

  .contact-sub-wrap
    flex-direction: column
    align-items: center
    margin-bottom: 0

  #contact-owner-content, #contact-others div, #contact-email-content, #contact-office-content, #contact-address-content
    font-size: 4vh

  #contact-owner-content span:first-child
    font-size: 4.4vh