@import fonts
  
html, body
  position: relative
  top: 0
  left: 0
  margin: 0
  height: 100vh
  width: 100vw
  overflow: hidden

::-webkit-scrollbar 
  visibility: hidden


#back-icon
  position: absolute
  background: url('./resources/back.svg')
  background-size: cover
  height: 40px
  width: 40px
  top: 2vh
  left: 4vw
  transition: transform 0.05s linear
  z-index: 30

#back-icon:hover
  transform: scale(1.1)
  cursor: pointer

@import home-desktop
@import home-mobile

@import about-desktop
@import about-mobile

@import product-desktop
@import product-mobile

@import contact-desktop
@import contact-mobile
