#desktop-nav
  display: flex
  justify-content: space-around
  align-items: center
  width: 62vw
  height: 14vh
  font-size: 2rem

@media all and (max-width: 600px)
  #desktop-nav
    display: none

@import home-desktop
@import home-mobile

@import about-desktop
@import about-mobile

@import product-desktop
@import product-mobile

@import contact-desktop
@import contact-mobile
