@font-face {
  font-family: 'ProximaNova';
  src: url("./fonts/ProximaNovaRegular_0.ttf"); }

@font-face {
  font-family: 'AvenirLight';
  src: url("./fonts/AvenirNextLTPro-Regular.otf"); }

html, body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

::-webkit-scrollbar {
  visibility: hidden; }

#back-icon {
  position: absolute;
  background: url("./resources/back.svg");
  background-size: cover;
  height: 40px;
  width: 40px;
  top: 2vh;
  left: 4vw;
  transition: transform 0.05s linear;
  z-index: 30; }

#back-icon:hover {
  transform: scale(1.1);
  cursor: pointer; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: opacity 0.2s linear !important; }

.page-title {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5.5vh;
  font-weight: 600;
  padding: 2vh 0; }

#homepage {
  background: url("./resources/home-bg.svg"); }

#mobile-nav {
  display: none; }

#desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 56vw;
  height: 10vh;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  color: #ff6006; }

.nav-items {
  transition: transform 0.1s linear; }

.nav-items:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #e9290f; }

#logo-wrap {
  position: absolute;
  top: 10vh;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5; }

#company-logo {
  height: 40vh;
  padding-top: 5vh; }

#hindi-byline {
  height: 18vh;
  padding-top: 5vh; }

#nav-toggle-circle {
  display: none; }

#menu-button {
  display: none; }

@media all and (max-width: 1000px) {
  #desktop-nav {
    font-size: 1rem; } }

@media all and (max-width: 600px) {
  #homepage {
    background: url("./resources/home-mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  #company-logo {
    width: 90vw;
    height: auto; }
  #hindi-byline {
    height: 10vh;
    padding-bottom: 20vh; }
  #nav-toggle-circle {
    display: block;
    position: absolute;
    top: -12vh;
    left: -12vh;
    border-radius: 100%;
    background: #ff7517;
    transform-origin: 50% 50%;
    transition: transform 0.2s linear;
    z-index: 10; }
  .close {
    height: 24vh;
    width: 24vh; }
  .open {
    height: 24vh;
    width: 24vh;
    transform: scale(15); }
  #desktop-nav {
    display: none; }
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    font-family: 'ProximaNova';
    font-size: 5vh;
    color: #080d37; }
  #mobile-nav-list {
    margin: 20vh 0 0 15vw; }
  .mobile-nav-items {
    opacity: 0;
    margin-bottom: 5vh;
    margin-left: -10vw;
    transition: margin-left 0.15s cubic-bezier(0, 0, 0.44, 1.58), opacity 0.1s cubic-bezier(0, 0, 0.44, 1.58); }
  .nav-open {
    display: block !important; }
  .nav-close {
    display: none !important; }
  #menu-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 4.8vh;
    margin: 2vh 0 0 2vh;
    z-index: 20; } }

#aboutpage {
  background: url("./resources/about-bg.svg");
  opacity: 0;
  display: none; }

#about-container {
  position: absolute;
  width: 80vw;
  height: 100vh;
  right: 0; }

#about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83vh;
  margin-top: 2vh;
  overflow-y: scroll; }

.about-list-items {
  border: solid 1px;
  width: 80%;
  font-family: 'AvenirLight', sans-serif;
  font-size: 3vh;
  padding: 3vh;
  box-sizing: border-box;
  margin-bottom: 4vh;
  border-radius: 1vh;
  box-shadow: 0 0 20px #aaaaaa;
  background: #ffffff;
  opacity: 0;
  transition: opacity 0.5s linear; }

@media all and (max-width: 600px) {
  #aboutpage {
    background: url("./resources/about-mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  #about-container {
    width: 100vw; } }

#productpage {
  background: url("./resources/product-bg.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  display: none; }

#products-wrapper {
  width: 100vw;
  height: 88vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center; }

#products {
  width: 80vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 340px));
  grid-gap: 20px 30px; }

.product {
  border: solid 1px black;
  height: 460px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px #aaaaaa;
  display: flex;
  flex-direction: column; }
  .product .product-img-wrap {
    margin: 3% 4%;
    height: 75%;
    width: 92%;
    border: solid black 1px; }
    .product .product-img-wrap .product-img, .product .product-img-wrap .product-img-hover {
      height: 100%;
      width: 100%; }
    .product .product-img-wrap .product-img-hover {
      background: rgba(0, 0, 0, 0.5);
      position: relative;
      top: -100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0; }
      .product .product-img-wrap .product-img-hover a {
        display: flex;
        justify-content: center; }
        .product .product-img-wrap .product-img-hover a img {
          width: 40%;
          opacity: 0.5; }
        .product .product-img-wrap .product-img-hover a img:hover {
          opacity: 1;
          cursor: pointer; }
      .product .product-img-wrap .product-img-hover a:hover {
        cursor: default; }
  .product .product-img-wrap:hover .product-img-hover {
    opacity: 1; }

.product-info {
  margin: 2% 4%;
  height: 16%;
  width: 92%;
  font-family: 'Source Sans Pro'; }

.product-title {
  font-weight: bold;
  font-size: 170%; }

.product-subtitle {
  font-size: 130%; }

@media all and (max-width: 600px) {
  #productpage {
    background: url("./resources/product-mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; } }

#orderpage {
  background: url("./resources/home-bg.svg");
  opacity: 0;
  display: none; }

#order-form-wrapper {
  position: absolute;
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden; }

#order-form {
  width: 100vw;
  font-size: 2.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.order-form-field {
  width: 80%;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between; }

#order-form div.required::before {
  content: '*';
  color: red; }

#order-form input {
  height: 5vh;
  width: 80%;
  font-size: 2.5vh;
  padding: 1vh; }

#order-form .srno {
  width: 15%; }

#order-form .description {
  width: 80%; }

#order-form .pcs {
  width: 10%; }

#order-items-wrap {
  width: 80%;
  padding: 2vh; }

.order-form-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0; }

.item-detail-wrap {
  width: 80%;
  display: flex;
  justify-content: space-between; }

#order-add-item {
  height: 7vh;
  width: 7vh;
  border-radius: 100%;
  display: flex;
  background: #fff;
  transition: transform 0.1s linear; }
  #order-add-item img {
    height: inherit;
    width: inherit; }

#order-add-item:hover {
  transform: scale(1.1) rotate(90deg);
  cursor: pointer; }

#order-form .order-button {
  height: 8vh;
  width: 15%;
  margin: 2vh 0;
  padding: 2vh;
  transition: transform 0.1s linear; }

#order-form .order-button:hover {
  cursor: pointer;
  transform: scale(1.1); }

@media all and (max-width: 600px) {
  #orderpage {
    background: url("./resources/home-mobile-bg.svg"); }
  .order-form-field .label {
    display: none; }
  .order-form-field input {
    width: 100% !important; }
  .order-form-field, #order-items-wrap {
    width: 90%; }
  #order-add-item:hover {
    transform: scale(1); }
  #order-form .order-button {
    width: 35%;
    -webkit-appearance: none;
    background: white; }
  .order-form-item .srno {
    width: 10vw; }
  .order-form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .item-detail-wrap {
    width: 100%; }
  #order-form .description {
    width: 75%; }
  #order-form .pcs {
    width: 15%; } }

#contactpage {
  background: url("./resources/contact-bg.svg");
  opacity: 0;
  display: none; }

#contact-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88vh;
  width: 100vw;
  padding-top: 2vh; }

#contact-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaaaaa;
  border: solid 1px;
  opacity: 0;
  transition: opacity 0.3s linear; }

.contact-tag {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vh;
  color: #e9290f;
  text-align: center; }

#contact-owner {
  height: 25vh;
  width: 45%;
  margin-bottom: 4vh;
  display: flex;
  justify-content: space-between; }

#contact-owner-tag {
  font-size: 4.5vh;
  margin: 3vh 0 0 3vh; }

#contact-owner-content {
  text-align: right;
  font-family: 'AvenirLight';
  font-size: 2.2vw;
  margin: 5vh 8vh 0 0; }
  #contact-owner-content img {
    width: 3.5vh; }
  #contact-owner-content span:first-child {
    font-size: 2.4vw; }

.contact-sub-wrap {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4vh; }

#contact-others {
  height: 18vh;
  width: 35%;
  display: flex;
  justify-content: space-around; }
  #contact-others div {
    font-family: 'AvenirLight';
    font-size: 2vw;
    margin: 5vh 0 0 0; }
    #contact-others div img {
      width: 3.5vh; }

#contact-office {
  height: 18vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#contact-office-content {
  font-family: 'AvenirLight';
  font-size: 2vw; }
  #contact-office-content img {
    width: 2.5vh; }

#contact-email {
  height: 18vh;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#contact-email-content {
  font-family: 'AvenirLight';
  font-size: 1.8vw; }
  #contact-email-content img {
    width: 3.5vh; }

#contact-gstno {
  height: 18vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#contact-gstno-content {
  font-family: 'AvenirLight';
  font-size: 1.8vw; }

#contact-address {
  height: 33vh;
  width: 48%;
  display: flex;
  justify-content: space-between; }

#contact-address-tag {
  font-size: 4vh;
  margin: 2.5vh 0 0 2.5vh; }

#contact-address-content {
  text-align: right;
  margin: 4vh 2.5vh 0 0;
  font-size: 2.2vw;
  font-family: 'AvenirLight'; }

@media all and (max-width: 1000px) {
  #contact-owner, #contact-others, #contact-email, #contact-office, #contact-address, #contact-gstno {
    width: 90%;
    margin-bottom: 3vh; }
  .contact-sub-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
  #contact-owner-content, #contact-others div, #contact-email-content, #contact-office-content, #contact-address-content, #contact-gstno-content {
    font-size: 4vh; }
  #contact-owner-content span:first-child {
    font-size: 4.4vh; } }

@media all and (max-width: 600px) {
  #contactpage {
    background: url("./resources/contact-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  #contact-owner {
    height: 20vh; }
  #contact-owner-tag {
    font-size: 7vw;
    margin: 2vh 0 0 2vh; }
  #contact-owner-content {
    font-size: 5vw;
    margin: 2.5vh 2vh 0 0; }
    #contact-owner-content span:first-child {
      font-size: 6vw; }
  .contact-sub-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }
  #contact-others {
    height: 15vh; }
    #contact-others div {
      font-size: 5.5vw;
      margin: 2vh 0 0 0; }
  #contact-email {
    height: 15vh; }
  #contact-email-tag {
    font-size: 6vw; }
  #contact-email-content {
    font-size: 5vw; }
  #contact-office-tag {
    font-size: 6vw; }
  #contact-office-content {
    font-size: 5vw; }
  #contact-address {
    height: 40vh; }
  #contact-address-tag {
    font-size: 6vw; }
  #contact-address-content {
    font-size: 6vw; } }
