html, body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

#homepage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background: url("./resources/home-bg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

#mobile-nav {
  display: none; }

#desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 56vw;
  height: 10vh;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #ff6006; }

.nav-items {
  transition: transform 0.1s linear; }

.nav-items:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #e9290f; }

#logo-wrap {
  position: absolute;
  top: 10vh;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5; }

#company-logo {
  height: 25vh;
  padding-top: 5vh; }

#hindi-byline {
  height: 18vh;
  padding-top: 5vh; }

#nav-toggle-circle {
  display: none; }

#menu-button {
  display: none; }

@media all and (max-width: 1000px) {
  #desktop-nav {
    font-size: 1rem; } }

@media all and (max-width: 600px) {
  #homepage {
    background: url("./resources/home-mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  #company-logo {
    width: 90vw; }
  #hindi-byline {
    height: 10vh;
    padding-bottom: 20vh; }
  #nav-toggle-circle {
    display: block;
    position: absolute;
    top: -12vh;
    left: -12vh;
    border-radius: 100%;
    background: #ff7517;
    transform-origin: 50% 50%;
    transition: transform 0.2s linear;
    z-index: 10; }
  .close {
    height: 24vh;
    width: 24vh; }
  .open {
    height: 24vh;
    width: 24vh;
    transform: scale(15); }
  #desktop-nav {
    display: none; }
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 11; }
  .nav-open {
    display: block !important; }
  .nav-close {
    display: none !important; }
  #menu-button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 4.8vh;
    margin: 2vh 0 0 2vh;
    z-index: 20; } }

#aboutpage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url("./resources/about-bg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

@media all and (max-width: 600px) {
  #aboutpage {
    background: url("./resources/about-mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; } }

#productpage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url("./resources/product-bg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

@media all and (max-width: 600px) {
  #productpage {
    background: url("./resources/product-mobile-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; } }

#contactpage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url("./resources/contact-bg.svg");
  background-repeat: no-repeat;
  background-size: cover; }

@media all and (max-width: 600px) {
  #contactpage {
    background: url("./resources/contact-bg.svg");
    background-repeat: no-repeat;
    background-size: cover; } }
